langchain-community
langchain-text-splitters # use to convert texts into chunks
langchain-huggingface # use to call embeddings model
chromadb # vecctor Database
langchain-chroma
langchain-groq
sentence-transformers
unstructured 
unstructured[pdf]
nltk
